/* recruit.html */
.away{ position: absolute; left: -999em; }
#search_box02{ width: 600px; height: 50px; border: 1px solid #ccc; box-sizing: border-box; font-size: 18px; }
#sub_contents > .search > input{ width: 640px; }
#sub_contents > .search > button{ width: 150px; float: right; margin-right: 0; }

#sub_contents .board_list{ margin: 50px auto; width: 100%; border-spacing: 0; text-align: center; }
#sub_contents .board_list th{ border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; padding: 10px; box-sizing: border-box; font-size: 20px; color: #666; font-weight: 500; }
#sub_contents .board_list td{ padding: 10px 0; box-sizing: border-box; border-bottom: 1px solid #ededed; font-size: 20px; line-height: 40px; color: #666; }
#sub_contents .board_list .left_th{ border: none; border-bottom: 1px solid #ededed; }
#sub_contents .board_list .left_td{ text-align: left; }
#sub_contents .board_list .left_td a{ width: 500px; display: block; line-height: 50px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #666; font-size: 20px; }
#sub_contents .board_list .first{ background-color: #ededed; }
#sub_contents .board_list .first > .title{ width: 300px; }
#sub_contents .page_btn{ text-align: center; }
#sub_contents .page_btn a{ color: #666; margin-right: 8px; font-size: 20px; font-weight: 100; }
#sub_contents .page_btn .prev_page, #sub_contents .page_btn .next_page{ font-size: 20px; }


/* recruit_view.html */
#sub_contents .recruit_view{ width: 100%; margin-top: 100px; text-align: left; border-spacing: 0; }
#sub_contents .recruit_view th{ font-size: 26px; width: 10%; color: #999; font-weight: 100; }
#sub_contents .recruit_view td{ font-size: 26px; color: #999; }
#sub_contents .recruit_view td:first-child{ text-align: left; box-sizing: border-box; }
#sub_contents .recruit_view tr:first-child td{ font-size: 40px; color: #666; font-weight: 500; }
#sub_contents .recruit_view tr:nth-child(2) th, #sub_contents .recruit_view tr:nth-child(2) td{ border-bottom: 2px dotted #ccc; padding: 30px 0; box-sizing: border-box; }
#sub_contents .recruit_view tr:nth-child(2) th:first-child{ width: 5%; }
#sub_contents .recruit_view tr:nth-child(2) td{ width: 40%; }
#sub_contents .recruit_box{ position: relative; }
#sub_contents .recruit_ing{ position: absolute; top: -70px; left: 500px; font-size: 26px; background-color: orange; color: #fff; padding: 0 5px; box-sizing: border-box;}
#sub_contents .recruit_text{ margin-top: 100px; font-size: 28px; line-height: 50px; color: #666; padding-bottom: 150px; box-sizing: border-box; border-bottom: 1px dotted #ccc; }
#sub_contents .recruit_text span{ font-size: 32px; font-weight: bold; margin-right: 50px; }
#sub_contents .recruit_text li{ margin-bottom: 50px; }
#sub_contents .recruit_text .long_text{ margin-left: 50px; }